{{ template "base.gohtml" . }}

{{ define "header" }}
<header>
    {{ template "common/header" . }}
</header>
{{ end }}

{{ define "sidebar" }}
    {{ template "common/sidebar" . }}
{{ end }}

{{ define "content" }}
    {{ template "common/content" . }}
{{ end }}

{{ define "scripts" }}
    {{ template "common/script" . }}
{{ end }}
